body{
    background-color:rgb(180, 235, 252);
}
.image2{
    
    border: 1px solid white;
    width: 100%;
    height: 150px;
}
.aa{
    text-align: center;
}
a{
    text-decoration: azure;
    margin: 20px;
    color: azure;
}

a:hover{
    background-color: cadetblue;
}

.tr{
    background-image:url(image/bridge.jfif);
    height: 50vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
.colour{
    background-color: red(5, 5, 19, 0.634);
    height: 50vh;
    width: 100%;
}
h1{
    color: rgb(178, 133, 217);
}
button{
    color: chocolate;
}
h2{
    text-align: center;
}
.shaft{
    display: flex;
    margin-left: 30px;
}
.tg{
    width: 100%;
}
h3{
    text-align: center;
}
.tm{
    background-color: rgb(189, 244, 244);
    
    width: 80%;
    height: 800px;
    margin: 60px;
    border-radius: 20px;
    padding: 30px;
}
input[type=text]{
     width: 96%;
        
        background-color: beige;
        border-radius: 20px;
    border: 1px solid green;
        padding: 10px;
}
input[type=number]{
     width: 96%;
     
        background-color: beige;
        border-radius: 20px;
    border: 1px solid green;
        padding: 10px;
}
.th{
    width: 100%;
}

